@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.nav{
    position:fixed;
    width: 100%;
    padding-top: 0%;
    background-color:white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    /*height: 50px;*/
    margin-top: 0%;

    
   
}
.Inicio-back{
    
    background-color: #111111 ;
    color:#fffff8;
    border-radius: 25px;
    width: 7vw;
    height: 5vh;
    text-align: center;
    padding-top: 10px;

}
.nav > li:hover{
    color: rgb(180, 11, 11);
}
.nav > li{
    list-style: none;
    cursor: pointer;
    padding: 1%;
}

.nav > li:nth-child(2){
    font-weight: 600;

    
}
.nav > li:nth-child(3){
    font-weight: 600;       
}

.nav > li:nth-child(6){
    font-size: 20px;
    color: gray; 

}
.nav > li:nth-child(6):hover{
    color: red;
}
.finder{   
    width: 70%;
    position: relative;
    padding: 1%;
    
}
.finder > input{
    
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: -5px;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.212);
    
}
.finder > input:hover{
    
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: -5px;
    padding: 1%;
    background-color:rgb(234, 227, 227);
    
}
.finder > input:focus{
    outline: none;
}


.profile-img img{
    object-fit: cover;
    border-radius: 50%;
}


.content{
    padding-top: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 15px;


}
.content > div{
    padding: 0;
    margin: 15px 10px;
    border-radius: 20px;

}

.content  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card_small{
    grid-row-end: span 26;
}
.card_small:hover{
    grid-row-end: span 26;
    box-shadow: 5px 3px 20px;
    cursor: pointer;

}
.card_medium{
    grid-row-end: span 33;
  
}
.card_medium:hover{
    grid-row-end: span 33;
    box-shadow: 5px 3px 20px;
    cursor: pointer;
}
.card_large{
    grid-row-end: span 40;
}
.card_large:hover{
    grid-row-end: span 40;
    box-shadow: 5px 3px 20px;
    cursor: pointer;
}

.card-image a{
    color: white;
    background: var(--i);
    background-size: cover;
}
.card_small a:hover{
    color: black;
    background: var(--i);
    background-size: cover;
}


@media all and(min-width: 421px) and (max-width: 768px){
    .content{
        grid-template-columns: repeat(auto-fill,200px);
    }
    .finder{
        display: none;
    }
    .nav > li:nth-child(2){
        font-weight: 500;
        font-size: 15px;
        
    }
}

@media all and (min-width:50px) and (max-width: 420px){
    .content{
        grid-template-columns: repeat(auto-fill,150px);
    }
    .content > div{
        padding: 0;
        margin: 8px 5px;
        border-radius: 20px;
    
    }
    .nav{
        padding: 2%;
    }
    .finder > input{
     
        padding: 3%;
    }
    .nav > li>img{
        width: 30px;
        height: 30px;
        
    }
    .nav > li {
        font-size: 12px;
        
    }
    .nav > li i{
        display: none;
        
    }
    .nav > li:nth-child(2){
        display: none;
        
    }
    .nav > li:nth-child(3){
        display: none;
        
    }
    .card-image > iframe{
        border-radius:25px ;
    }

}
